li.RecipeCategory {
  list-style: none;
  display: inline-block;
  border: 1px solid #cec;
  height: 1.8em;
  text-align: center;
  border-radius: 1.8em;
  padding: 5px;
  line-height: 1.5em;
  min-width: 1.8em; }
  li.RecipeCategory span {
    display: inline-block;
    font-size: 0.8em;
    padding: 0;
    width: 0;
    overflow: hidden;
    text-indent: 30em;
    transition: text-indent 0.8s ease-out; }
  li.RecipeCategory img {
    margin: 5px 0;
    height: 1em; }
  li.RecipeCategory:hover span {
    text-indent: 0;
    width: 6em; }
  li.RecipeCategory:hover img {
    margin: 5px 0 5px 10px; }
  li.RecipeCategory.vegan {
    border-color: #417505;
    color: #417505; }
  li.RecipeCategory.vegetarian {
    border-color: #F6A623;
    color: #F6A623; }
  li.RecipeCategory.pescatarian {
    border-color: #4990E2;
    color: #4990E2; }
